<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" routerLink="/home">Double T<span>.</span></a>
        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item"><a class="nav-link" routerLink="/admin">Admin</a></li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li><a class="nav-link" routerLink="/product">Shop</a></li>
                <li><a class="nav-link" routerLink="/about">About us</a></li>
                <li><a class="nav-link" routerLink="/contact">Contact us</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <ng-container *ngIf="!isAuthenticated()">
                    <li><a class="nav-link" routerLink="/login"><img src="assets/images/user.svg" alt=""></a></li>
                </ng-container>
                <ng-container *ngIf="isAuthenticated()">
                    <li><a class="nav-link" (click)="logout()"><img height="30" src="assets/images/Remove-bg.ai_1709743549762.png" alt=""></a></li>
                </ng-container>
                <li><a class="nav-link" routerLink="/cart"><img src="assets/images/cart.svg"> <span class="badge bg-danger">{{ cartService.getTotalItems() }}</span></a></li>
            </ul>
            
        </div>
    </div>
        
</nav>
<!-- End Header/Navigation -->