<div class="row">

    <div class="row col-9 mt-5">
        <div class="col-md-6 p-4 text-center ">
            <img [src]="productDetail?.imageUrl" width="50%" alt="">
        </div>
        <div class="col-md-6 pt-4">
            <h1>{{productDetail?.productName}}</h1>
            <h3>Price : {{ productDetail?.price | currency }} </h3>
            <h5>Description: {{ productDetail?.description}}</h5>
            <h5>InStock: {{ productDetail?.inStock}}</h5>
            <button class="btn btn-primary" routerLink="/product">Back</button>
            <button class="btn btn-primary" (click)="addToCart()">Buy</button>
            <br>
        </div>
    </div>
</div>